@import "tailwindcss";

@utility light-bg {
  background-image: url('./assets/white-bg.png');
  background-size: cover; 
  background-position: center; 
}

@utility dark-bg {
  background-image: url('./assets/black-bg.png');
  background-size: cover; 
  background-position: center; 
}

@utility logo{
  background-image: url('./assets/logo.png');
  background-size: cover; 
  background-position: center; 
  filter: drop-shadow(0px 0px 5px rgba(15, 173, 238, 1));
}

@keyframes bounce-y-custom {
  0%, 100% {
    transform: translateY(0); 
  }
  50% {
    transform: translateY(-20px); 
  }
}

@utility animate-bounce-y {
  animation: bounce-y-custom 5s infinite ease-in-out; 
}

